footer {
    position: relative;
    background-color: var(--primary-color);
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    .logo-container {
        text-align: right;

        @media (max-width: 1216px) {
            text-align: center;
        }

        img {
            max-height: 125px;
            margin: auto;
        }
    }

    .links {
        
        list-style: none;
        padding-left: 0;
        a {
            color: var(--font-secondary-color);
            font-family: var(--font-text-1);
            font-size: 80%;
        }

        @media (max-width: 1216px) {
            text-align: center;
        }
    }

}