/*  A section of a site.
    It usually contains one or more rows. 
*/
.container {
    width: 100%;
}

/*  A row that is usually part of a container.
    It contains one or more columns.
*/
.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
}

section.row {
    box-sizing: border-box;
    padding: 5%;
    padding-bottom: 10%; 
}

/*  A column.
    The -1 indicates the column width is 1/12 of a row.
    Grid rows are usually splitted in 12 columns.
*/
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50.00%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/*  A media query targetting mobile and tablets.
    It makes the column sizes to adapt on these devices.
    Sometimes, columns in a row must be inverted on mobile. That's the role of the "reverse-on-mobile" class. 
*/
@media (max-width: 1216px) {

    .reverse-on-mobile {
        flex-direction: column-reverse;
    }

    .col-1 {
        width: 100%;
    }
    
    .col-2 {
        width: 100%;
    }
    
    .col-3 {
        width: 100%;
    }
    
    .col-4 {
        width: 100%;
    }
    
    .col-5 {
        width: 100%;
    }
    
    .col-6 {
        width: 100%;
    }

    .col-7 {
        width: 100%;
    }
    
    .col-8 {
        width: 100%;
    }
    
    .col-9 {
        width: 100%;
    }
    
    .col-10 {
        width: 100%;
    }
    
    .col-11 {
        width: 100%;
    }
    
    .col-12 {
        width: 100%;
    }
    
} 